{% assign productTags = product.tags %}  
{% if productTags contains 'contador' %} <!-- Aqui vai a tag do produto -->
<script>
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
      minutes = parseInt(timer / 60, 10)
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = "00" + ":" + minutes + ":" + seconds;

      if (--timer < 0) {
        timer = duration;
      }
    }, 1000);
  }

  window.onload = function () {
    var fiveMinutes = 60 * 29.5,       /* Aqui vai o tempo em minutos */
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
  };
</script>
    
<div class="countdown">
<p class="text"><i class="fi fi-rr-alarm-clock" style="font-size: 16px; color:  {{ section.settings.txt_dois_contador }}; margin-bottom: -5px; margin-right: 2px;"></i><span style="color:{{ section.settings.txt_um_contador }}; padding-left: 5px;">{{ section.settings.texto_contador }}&nbsp</span><span id="time"></span></p> <!-- Aqui vai a imagem e o texto -->
</div>
    
<style>

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
  
.countdown{
    color: {{ section.settings.txt_um_contador }};
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin: 16px 0;
    padding: 4px 18px;
    background: {{ section.settings.bg_contador }};        /* Aqui vai a cor de fundo */
    border-radius: 40px;
    width: max-content;
}

.countdown p > span{
  	color: {{ section.settings.txt_dois_contador }};
	font-weight:900;
    font-size: 12px
}

.countdown > p.text
{
    text-align: center;
    font-weight: 900;
    display: flex;
    align-items: center;
    align-content: center;
} 
</style>
{% endif %}
